Kevin_Ciarniello_s_Resume.egg-info/dependency_links.txt
Kevin_Ciarniello_s_Resume.egg-info/entry_points.txt
Kevin_Ciarniello_s_Resume.egg-info/PKG-INFO
Kevin_Ciarniello_s_Resume.egg-info/requires.txt
Kevin_Ciarniello_s_Resume.egg-info/SOURCES.txt
Kevin_Ciarniello_s_Resume.egg-info/top_level.txt

*.aux
*.fdb_*
*.fls
*.log
*.out
*.synctex*
KEVINCIARNIELLO.pdf
KEVINCIARNIELLO.html
.vscode/**
