@import url(layout.css);

body {
  font-family: var(--body-font);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

/* Dark mode */

body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #ffffff;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
  --background-color: #121212;
}

/* The main container */
.container {
  display: flex;
  max-width: 1100px;
  max-height: 100%;
  margin: 2rem auto;
  background-color: var(--container-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: var(--text-color-left);
}

.left-column,
.right-column {
  padding: 30px;
  box-sizing: border-box;
}

.left-column {
  background-color: var(--secondary-color);
   max-width: 400px;
}

.left-column h1 {
  color: var(--text-color-left);
}

.left-column h2 {
  color: var(--primary-color);
}

.left-column h3 {
  color: var(--text-color-left);
}

.left-column body {
  color: var(--text-color-left);
}

/* Headers */

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: var(--header-font);
}

h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: var(--header-font);
  color: var(--text-color);
  border-bottom: 1px dotted var(--primary-color);
}


h3 {
  font-family: var(--header-font);
}

h4 {
  color: var(--primary-color);
}

/* Experience */
.experience h2, .personal-development h2 {
  border-bottom: none;
}

.experience h3, .personal-development h3 {
  padding-bottom: 4px;
  border-bottom: 1.2px dashed var(--primary-color-alt);
  font-size: var(--h1-font-size);
  color: var(--primary-color-alt);
  margin-bottom: 1.5rem;
}

.experience h4 {
  margin-top: 20px;
  color: var(--text-color);
  font-size: 1.6rem;
}

.location-date-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  font-style: italic; 
}

.experience_location {
  margin-right: 10px;
}

.experience_location,
.experience_date {
  font-family: var(--body-font);
  font-style: normal;
  font-size: 0.8rem;
}

.experience_summary {
  margin-top: -10px;
  font-style: italic;
  font-size: 0.9rem;
}

.experience_responsibilities {
  margin-top: -9px;
  padding: 0;
}

.experience_responsibilities li {
  margin-bottom: 0.5rem;
  list-style-type: disc;
}

/* Personal development */

.personal-development-date {
  font-family: var(--body-font);
  font-size: 0.8rem;
  font-weight: bold;
  font-style: normal;
}

.personal-development-title {
  margin-top: -10px;
  font-size: 1.5rem;
}

.personal-development-organization {
  margin-top: -20px;
  padding: 0;
}

.personal-development-summary {
  margin-top: -9px;
  padding: 0;
}

.personal-development-entry {
  margin-bottom: 2rem;
}

/* Code */

code,
tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.9rem;
  color: #333;
}

/* Links */
a {
  text-decoration: none;
}

/* Contact page */

.contact_data {
  position: relative;
  gap: 0.5rem;
  text-align: center;
}

/* resume.profile */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  border: 3px solid var(--text-color-left);
}

/* resume.name */
.contact_title {
  font-size: var(--h1-font-size);
  margin-bottom: -1.3rem;
}

/* resume.profession */
.contact_profession {
  font-size: var(--h2-font-size);
}

/* resume.location */
.contact_address {
  gap: 1rem;
}

/* resume.phone, resume.email, resume.location */
.contact_information {
  font-weight: lighter;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  color: var(--text-color-left);
}

.contact_icon {
  display: flex;
  width: 25px;
  justify-content: center;
  margin-right: 0.75rem;
}

.social_link,
.contact_link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color-left);
}

.social_link:hover,
.contact_link:hover {
  color: var(--primary-color);
}

/* Social page */

.social_container {
  display: flex;
  justify-content: space-between;
}

.social_container h1 {
  margin-bottom: 1.8rem;
}

.social_information {
  font-weight: lighter;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.social_icon {
  display: flex;
  width: 25px;
  justify-content: center;
  margin-right: 0.75rem;
}

.social_link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color-left);
}

/* Summary page */

.summary {
  box-sizing: border-box;
  font-size: 0.9Æ’rem;
  color: var(--text-color-left);
}

/* Education page */

.education_year {
  color: var(--text-color-left);
}

.education_location {
  margin-top: 0px;
  color: white;
}

/* Languages page */

.languages_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  color: var(--text-color-left);
}

.languages_stars {
  align-self: flex-end;
}

.languages_stars_checked {
  color: var(--text-color-light);
}

/* Skill and hobbies page */

.skill_category, .hobbies_category {
  margin-bottom: 0.5rem;
}

.skill_category h3, .hobbies_category h3 {
  margin-bottom: 0.4rem;
}

.skill_category div, .hobbies_items {
  display: flex;
  flex-wrap: wrap;
}



.skill_category code, .hobbies_items code {
  margin-bottom: 0.4rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .pdf_button {
    display: none;
  }

  .left-column,
  .right-column {
    flex: 1;
    max-width: 100%;
    /* padding: 20px; */
    background-color: var(--container-color);
  }

  .left-column h1 {
    color: var(--text-color);
  }

  .left-column h2 {
    color: var(--text-color);
  }

  .left-column h3 {
    color: var(--text-color-light);
  }

  .h1 {
    text-align: center;
  }

  .top-buttons {
    color: var(--text-color);
  }

  .container {
    flex-direction: column;
    margin: 0rem auto;
    max-width: 100%;
  }

  .avatar {
    border: 2px solid var(--text-color);
  }

  .contact_title,
  .contact_information,
  .contact_link,
  .social_container,
  .social_link,
  .summary,
  .education,
  .languages_container,
  .skill_category {
    width: 100%;
    color: var(--text-color);
  }
}


.pdf-container {
  margin-top: -10px;
  margin-left: -8px;
  font-size: 0.8rem;
}

.pdf-container .left-column {
  max-width: 280px;
}

.pdf-container .right-column,
.pdf-container .left-column,
.pdf-container .contact_address,
.pdf-container .contact_data,
.pdf-container .contact_icon,
.pdf-container .contact_information,
.pdf-container .contact_link,
.pdf-container .contact_profession,
.pdf-container .contact_title,
.pdf-container .summary,
.pdf-container .social_icon,
.pdf-container .social_link,
.pdf-container .education_location,
.pdf-container .education_year,
.pdf-container .education_degree,
.pdf-container .skill_category h3,
.pdf-container .languages_stars,
.pdf-container .languages_container,
.pdf-container .experience h1,
.pdf-container .experience h2,
.pdf-container .experience h4,
.pdf-container .experience_date,
.pdf-container .experience_location,
.pdf-container .experience_responsibilities,
.pdf-container .experience_summary
 {
  /* background-color: #ffffff;
  color: #121212;  */
}

